<div class="loading-shade-full" style="background: rgba(0, 0, 0, 0.02) !important" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"> </mat-spinner>
</div>

<div class="container">
  <div fxLayout="row" ngClass.gt-sm="mt-4" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1">
    <span fxHide.xs class="mat-title mb-0">{{ 'Lista de Expedientes' }}</span>
    <span fxHide fxShow.xs class="mat-title mb-0">{{ 'Expedientes' }}</span>
    <div>
      <select style="width: 195px !important" (change)="onChangeSorting($event.target.value)">
        <option value="name">{{ 'Alfabético, A-Z' }}</option>
        <option value="-name">{{ 'Alfabético, Z-A' }}</option>
      </select>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>view_module</mat-icon>
      </button>
    </div>
  </div>

  <div
    *ngIf="allExpediente.length"
    fxLayout="row wrap"
    class="w-100 py-2"
    fxLayoutAlign="start start"
    fxLayoutAlign.lt-md="center start"
    fxLayoutGap="gappx"
  >
    <mat-card *ngFor="let service of allExpediente" class="product-card">
      <mat-card-header>
        <mat-card-title>{{ service.NoConformidad.codigo }}</mat-card-title>
      </mat-card-header>
      <div
        class="w-100"
        fxLayout="row"
        fxLayoutAlign="center center"
        matTooltip="{{ 'Vista detallada' }}"
        (click)="this.onShowService(service)"
        style="cursor: pointer"
      >
        <img class="imageProduct" appLazyLoad *ngIf="service.evidencia" [src]="imageUrl + service.evidencia" alt="" />
        <img
          class="imageProduct"
          appLazyLoad
          *ngIf="!service.evidencia || service.evidencia == 'Prueba' || service.evidencia == 'prueba'"
          src="../../../../../assets/images/users/profile2.png"
          alt=""
        />
      </div>

      <mat-card-content>
        <div class="" style="margin-top: 10px">Estado: {{ service.estado }}</div>
        <hr />
        <div>Norma: {{ service.NoConformidad.NormaId ? service.NoConformidad.Norma.nombre : '--' }}</div>
        <span> Proceso: {{ service.NoConformidad.ProcesoId ? service.NoConformidad.Proceso.nombre : '--' }} </span>
      </mat-card-content>
      <mat-card-actions class="mb-0" fxLayoutAlign="end center">
        <button matTooltip="{{ 'Vista detallada' }}" (click)="this.onShowService(service)" mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
        <button
          matTooltip="{{ 'Editar expediente' }}"
          *ngIf="(service.estado != 'cerrado' && this.loggedInUser.RolId == 3) || this.loggedInUser.RolId == 7"
          (click)="this.onEditService(service)"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="!allExpediente.length" style="padding: 32px 0px" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../../../../assets/images/empty.svg" alt="Empty" style="height: 160px; width: 160px" />
    <h1 class="text-muted mt-3">Tu lista de expediente está vacía</h1>
  </div>
</div>
