<div class="container">
    <div>
        <div>
            <b>Resumen</b>
        </div>
        <ul>
            <li>Empresa: {{deploy.enterprise}} </li>
            <li>Proyecto: {{deploy.project}} </li>
            <li>Dominio: {{deploy.domain}} </li>
            <li>Branch: {{deploy.branch}} </li>
            <li>Environment: {{deploy.environment}} </li>
            <li>Ip del servidor: {{deploy.serverIp}} </li>
            <li>Usuario del servidor: {{deploy.userIp}} </li>
        </ul>
        <b *ngIf="webClients">Usuarios del sistema:</b>

        <div *ngFor="let client of webClients">
            <span *ngIf="client.username">
                <div>Username: {{client.username}}</div>
                <div>Password: {{client.cipheredPass}}</div>
                <div>Rol: {{client.rol}}</div>
                <p></p>
            </span>
        </div>

    </div>
</div>