<div id="outdated">
  <div class="container">
    <h1 style="text-align: center;">
      Su aplicación esta desactualizada
    </h1>
    <div fxLayout="column" fxLayoutAlign="start center">
      <div class="card" fxLayout="column">
        <img class="image-card" src="../../../assets/images/background/web-design-sthelens.jpg" alt="site-need-update">
      </div>
      <p style="margin-top: 24px;">
        Hemos detectado que la versión de su aplicación no está desactualizada. Constantemente actualizamos la
        aplicación para mejorar su experiencia en el sistema y corregir los errores reportados por nuestros
        usuarios.
      </p>
      <div id="UPP">
        <p style="font-weight: 600;text-transform: capitalize;text-decoration: underline;">
          Realize los siguientes pasos para actualizar su sistema
        </p>
        <p style="margin-left: 10px;">
          - Presione la combinación de teclas <strong>CTRL + SHIFT + DELETE</strong>
        </p>
        <p style="margin-left: 10px;">
          - Si su navegador en Chrome precione <strong>Borrar datos</strong>
        </p>
        <p style="margin-left: 10px;">
          - Si su navegador en Firefox precione <strong>Limpiar ahora</strong>
        </p>
        <p style="margin-left: 10px;">
          - Por último presione <strong>F5</strong> para refrescar la página
        </p>
      </div>



    </div>

  </div>


</div>
