<div class="container">
  <mat-progress-bar color="accent" mode="determinate" value="{{getProgress()}}">
  </mat-progress-bar>
  <mat-horizontal-stepper [selectedIndex]="stepIndex" (selectionChange)="onSlectionChange($event)" labelPosition="bottom" [linear]="'true'"
    #stepper>


    <mat-step [stepControl]="this.form">
      <div style="float: left; width: 65%;" *ngIf="alreadyLoaded">
        <form [formGroup]="this.form">
          <ng-template matStepLabel>{{'Información básica'}}</ng-template>
          <div fxLayout="column" class="SteeperLayout" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

            <div>
              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Para quien?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100">
                  <mat-label>{{'Empresa'}}</mat-label>
                  <mat-select [formControl]="form.controls['EnterpriseId']">
                    <mat-option *ngFor="let item of allEnterprises" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="greyIcon" matSuffix>business</mat-icon>
                  <mat-error *ngIf="form.controls['EnterpriseId'].hasError('required')">
                    {{'La empresa'}} <strong>{{'es requerida'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>


              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Que  Proyecto?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field appearance="outline" fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100">
                  <mat-label>{{'Proyecto'}}</mat-label>
                  <mat-select [formControl]="form.controls['ProjectId']">
                    <mat-option *ngFor="let item of allProjects" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="form.controls['ProjectId'].hasError('required')">
                    {{'El proyecto'}} <strong>{{'es requerido'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Que dominio va a tener el deploy?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100" appearance="outline">
                  <mat-label>{{'Dominio'}}</mat-label>
                  <input type="text" matInput [formControl]="form.controls['domain']" placeholder="{{'dominio'}}">
                  <mat-icon class="greyIcon" matSuffix>link</mat-icon>
                  <mat-error *ngIf="form.controls['domain'].hasError('required')">
                    {{'El dominio'}} <strong>{{'es requerido'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Que rama del git?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100" appearance="outline">
                  <mat-label>{{'Branch'}}</mat-label>
                  <input type="text" matInput [formControl]="form.controls['branch']" placeholder="{{'branch'}}">
                  <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="form.controls['branch'].hasError('required')">
                    {{'El branch'}} <strong>{{'es requerido'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Con que environment vamos a desplegarlo?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100" appearance="outline">
                  <mat-label>{{'Environment'}}</mat-label>
                  <input type="text" matInput [formControl]="form.controls['environment']" placeholder="{{'environment'}}">
                  <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="form.controls['environment'].hasError('required')">
                    {{'environment'}} <strong>{{'es requerido'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- 
        <mat-form-field appearance="outline">
          <mat-label>{{'autodeploy'}}</mat-label>
          <input type="text" matInput [formControl]="form.controls['autodeploy']" placeholder="{{'autodeploy'}}">
          <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
          <mat-error *ngIf="form.controls['autodeploy'].hasError('required')">
            {{'autodeploy'}} <strong>{{'es requerido'}}</strong>
          </mat-error>
        </mat-form-field> -->

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Cual es el ip del servidor de despliegue?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100" appearance="outline">
                  <mat-label>{{'Ip del servidor'}}</mat-label>
                  <input type="text" matInput [formControl]="form.controls['serverIp']" placeholder="{{'serverIp'}}">
                  <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="form.controls['serverIp'].hasError('required')">
                    {{'Ip del servidor'}} <strong>{{'es requerido'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Nombre de usuario del Ip de despliegue?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100" appearance="outline">

                  <mat-label>{{'Usuario del servidor'}}</mat-label>
                  <input type="text" matInput [formControl]="form.controls['userIp']" placeholder="{{'userIp'}}">
                  <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
                  <mat-error *ngIf="form.controls['userIp'].hasError('required')">
                    {{'Usuario del servidor'}} <strong>{{'es requerido'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- <mat-form-field appearance="outline">
              <mat-label>{{'CreatorId'}}</mat-label>
              <input type="text" matInput [formControl]="form.controls['CreatorId']" placeholder="{{'CreatorId'}}">
              <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
              <mat-error *ngIf="form.controls['CreatorId'].hasError('required')">
                {{'CreatorId'}} <strong>{{'es requerido'}}</strong>
              </mat-error>
            </mat-form-field> -->

              <!-- <mat-form-field appearance="outline">
              <mat-label>{{'Descripcion'}}</mat-label>
              <input type="text" matInput [formControl]="form.controls['descrition']" placeholder="{{'descrition'}}">
              <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
              <mat-error *ngIf="form.controls['descrition'].hasError('required')">
                {{'Descripcion'}} <strong>{{'es requerido'}}</strong>
              </mat-error>
            </mat-form-field> -->

              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <span class="mat-body-2 ">{{'Descripcion especifica del despliegue del proyecto?'}}</span>
              </div>
              <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field fxFlex="100" fxFlex.lt-md="100" fxFlex.xs="100" appearance="outline">
                  <mat-label>{{'Descripción'}}</mat-label>
                  <textarea rows="5" matInput [formControl]="form.controls['description']" placeholder="{{'Descripción'}}"></textarea>
                  <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
                  <mat-error *ngIf="form.controls['description'].hasError('required')">
                    {{'Descripción'}} <strong>{{'es requerida'}}</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- <mat-form-field appearance="outline">
            <mat-label>{{'tags'}}</mat-label>
            <input type="text" matInput [formControl]="form.controls['tags']" placeholder="{{'tags'}}">
            <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
            <mat-error *ngIf="form.controls['tags'].hasError('required')">
              {{'tags'}} <strong>{{'es requerido'}}</strong>
            </mat-error>
          </mat-form-field> -->

            </div>

            <div fxLayout="row" class="w-100 mt-3" ngClass.lt-md="w-80" ngClass.xs="w-100" fxLayoutAlign="end center" fxLayoutGap="gappx">
              <button [disabled]="this.form.invalid" (click)="onSaveBasicProduct()" mat-raised-button
                color="primary">{{this.action}}</button>
            </div>
          </div>

        </form>
      </div>


      <div style="width: 35%; float: left; position: absolute; right: 0;">
        <div *ngIf="this.rellenarUsuarios">
          <app-resumen-deploy [deploy]="this.deploy" [webClients]="this.webClients"></app-resumen-deploy>
        </div>
      </div>
    </mat-step>

    <mat-step [editable]="this.alreadyLoaded && this.form.valid">
      <ng-template matStepLabel>{{'Usuarios'}}</ng-template>
      <div fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="gappx">
        <div *ngIf="this.rellenarUsuarios">
          <app-array [deploy]="this.deploy" [webClients]="this.webClients" (respuesta)="ProcesarUsuarios($event)"></app-array>
        </div>
      </div>

      <div class="SteeperBtn">
        <button mat-raised-button class="ml-2" color="primary" [disabled]=" this.productCreated==null || this.productCreated.id==null"
          (click)="Finalizar()" matStepperNext>{{'Finalizar'}}</button>
      </div>
    </mat-step>



  </mat-horizontal-stepper>

</div>