<div class="loading-shade-full" style="background:rgba(0, 0, 0, 0.06) !important;" *ngIf="isLoading">
  <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap='20px'>
    <h3 *ngIf="isLoading" style="color:white;">Por favor espere, este proceso puede tardar un tiempo...</h3>
    <mat-spinner *ngIf="isLoading">
    </mat-spinner>
  </div>
</div>
<div class="container">
  <mat-card class="p-1 my-3" style="border-radius: 8px;">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="start stretch">


      <mat-form-field fxFlex="22" class="mr-3" appearance="outline">
        <mat-label> {{'URL'}}</mat-label>
        <input type="text" placeholder="/v1/admin/logs" aria-label="Number" matInput [formControl]="formFilters.controls['url']">
      </mat-form-field>


      <mat-form-field fxFlex="22" class="mr-3" appearance="outline">
        <mat-label> {{'Cargo'}}</mat-label>
        <mat-select [formControl]="formFilters.controls['cargo']" placeholder="{{'Cargo'}}" multiple>
          <mat-option *ngFor="let item of Roles;let i=index" [value]="item.value">
            <div fxLayout="row" fxLayoutAlign="start center">
              {{(item.label)}}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field fxFlex="22" class="mr-3" appearance="outline">
        <mat-label> {{'Verbos'}}</mat-label>
        <mat-select [formControl]="formFilters.controls['method']" placeholder="{{'Verbo'}}" multiple>
          <mat-option *ngFor="let item of ['GET','POST','PATCH','DELETE'];let i=index" [value]="item">
            <div fxLayout="row" fxLayoutAlign="start center">
              {{(item)}}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="22" class="mr-3" appearance="outline">
        <mat-label> {{'Código de Respuesta'}}</mat-label>
        <mat-select [formControl]="formFilters.controls['statusCode']" placeholder="{{'Código de Respuesta'}}" multiple>
          <mat-option *ngFor="let item of [200,201,204,304,400,401,403,404,415,426,500];let i=index" [value]="item">
            <div fxLayout="row" fxLayoutAlign="start center">
              {{(item)}}
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="22" class="mr-3">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="startDate" placeholder="Fecha Inicio" [formControl]="formFilters.controls['startDate']"
          [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="22" class="mr-3">
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="endDate" placeholder="Fecha Final" [min]="formFilters.controls['startDate'].value"
          [formControl]="formFilters.controls['endDate']" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>


      <button mat-raised-button (click)="buscarLogs()" color="primary" class="mr-3">{{'Buscar'}}</button>
      <button mat-raised-button (click)="limpiarLogs()" class="mr-3">{{'Limpiar'}}</button>

    </div>
  </mat-card>
  <mat-card class="p-1" style="border-radius: 8px;">
    <mat-toolbar>
      <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterClient">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <span class="mat-title mb-0">{{'Lista de logs'}}</span>
          <div>

            <button mat-icon-button color="primary" (click)="onRefresh()">
              <mat-icon class="main-color" aria-label="Example icon-button with a heart icon">refresh</mat-icon>
            </button>
          </div>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="showFilterClient && !selection.selected.length">
        <form class="example-full-width" [formGroup]="searchForm">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
            <button mat-icon-button color="primary">
              <mat-icon class="main-color" matPrefix>search</mat-icon>
            </button>

            <input [formControl]="searchForm.controls['textCtrl']" placeholder="Escriba su texto de búsqueda"
              class="example-full-width search-input" type="tel" autofocus>

            <div>
              <button mat-icon-button color="primary" (click)="hideSearchForm()">
                <mat-icon class="main-color" aria-label="Cerrar">close</mat-icon>
              </button>
            </div>
          </div>
        </form>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="selection.selected.length">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <div>
            <span fxHide.xs class="mat-title mb-0">{{selection.selected.length}}</span>
            <span fxHide.xs class="ml-2 mat-title mb-0">{{'elemento(s) seleccionado(s)'}}</span>
          </div>
          <div>
            <button mat-button color="primary" (click)="onEdit(this.selection.selected[0])" *ngIf="this.selection.selected.length === 1">
              <mat-icon aria-label="Example icon-button with a heart icon">visibility</mat-icon>
              <span class="mat-button">{{'Detalles'}}</span>
            </button>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="responsive_table">
      <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDisableClear
        matSortDirection="desc" (matSortChange)="sortData($event)"
        class="mat-elevation-z8  cf-padding-left-10 cf-padding-right-10  cf-padding-bottom-10">

        <ng-container matColumnDef="url">
          <th style="width:10%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Url' }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2"> {{element.path}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="method">
          <th style="width:8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Verbo'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2">{{element.method}}</span></td>
        </ng-container>

        <ng-container matColumnDef="error">
          <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Error'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2 color-red-500">{{element.errorMessage}}</span></td>
        </ng-container>

        <ng-container matColumnDef="statusCode">
          <th style="width:8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'status'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2" ngCla>{{element.statusCode}}</span></td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th style="width:10%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Username'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2">{{element.username}}</span></td>
        </ng-container>

        <ng-container matColumnDef="cargo">
          <th style="width:8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'Cargo'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2">{{getCargo(element.cargo)}}</span></td>
        </ng-container>

        <ng-container matColumnDef="PersonId">
          <th style="width:4%;" mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="mat-body-2">{{'PersonId'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2">{{element.PersonId}}</span></td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th style="width:12%;" mat-header-cell *matHeaderCellDef mat-sort-header matSortActive="createdAt" matSortDisableClear
            matSortDirection="asc">
            <span class="mat-body-2">{{'Fecha'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="mat-body-2">{{element.timestamp}}</span></td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

              <div fxLayout="row" fxLayoutAlign="start start" class="p-4" style="width: 100%;background-color: black; color: #00D684;">

                <div fxFlex="50">
                  <span class="mat-title">Body</span>
                  <pre> {{getBody(element) | json}} </pre>
                </div>
                <div fxFlex="50">
                  <span class="mat-title">Query</span>
                  <pre> {{getQuery(element) | json}} </pre>
                </div>

              </div>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
    <mat-paginator [length]="query.total" [pageSize]="query.limit" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = onPaginateData($event)" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>