@import "../../../../../assets/scss/theme/variables";
@import "../../../../../assets/scss/mixins/breakpoints";

app-admin-list-deploys {

  padding: 16px 0px;

  .LayoutTabs {
    background-color: #fff;
    padding: 16px;
    border: solid 1.3px rgba(0, 0, 0, 0.22);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .mat-tab-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .mat-tab-list {
    flex-grow: 1;
    position: relative;
    transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    height: 64px;
  }

}
