<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="end center">
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
          <span *ngIf="this.loggedInUser" class="mat-title my-2" style="font-size: 24px">
            {{ this.loggedInUser.nombre + this.loggedInUser.apellidos }}
          </span>
          <span *ngIf="!this.loggedInUser" class="mat-title my-2" style="font-size: 24px">
            {{ 'Nombre' }}
          </span>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'Usuario' }}</mat-label>
          <input type="text" readonly matInput [formControl]="form.controls['usuario']" placeholder="{{ 'Usuario' }}" />
        </mat-form-field>

        <mat-slide-toggle color="primary" (change)="onSelectSliderChange($event)" [checked]="isChangePass">
          {{ 'Cambiar contraseña' }}</mat-slide-toggle
        >

        <div *ngIf="isChangePass" fxLayout="column" class="p-2 mt-2 PassSection" fxLayoutAlign="start stretch">
          <div fxLayout="row wrap" class="mt-2" fxLayoutAlign="space-between center">
            <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
              <mat-label>{{ 'Contraseña' }}</mat-label>
              <input
                matInput
                placeholder="{{ 'Contraseña' }}"
                [type]="this.passwordType"
                required
                [formControl]="formPass.controls['password']"
              />
              <mat-icon
                style="cursor: pointer"
                *ngIf="this.passwordType == 'password'"
                class="greyIcon"
                matSuffix
                (click)="this.passwordType = 'text'"
              >
                visibility</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                *ngIf="this.passwordType == 'text'"
                class="greyIcon"
                matSuffix
                (click)="this.passwordType = 'password'"
              >
                visibility_off</mat-icon
              >
              <mat-error *ngIf="formPass.controls['password'].hasError('required')">
                {{ 'Password' }} <strong>{{ 'es requerido' }}</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field
              class="example-full-width"
              appearance="outline"
              fxFlex="100"
              [ngClass]="{
                'mat-form-field-invalid': formPass.hasError('mismatch'),
                'ng-invalid': formPass.hasError('mismatch'),
                'ng-valid': !formPass.hasError('mismatch')
              }"
            >
              <mat-label>{{ 'Confirmar contraseña' }}</mat-label>
              <input
                matInput
                placeholder="{{ 'Confirmar contraseña' }}"
                required
                [type]="this.passwordType"
                [ngClass]="{ 'ng-invalid': formPass.hasError('mismatch') }"
                [formControl]="formPass.controls['repeat']"
              />
              <mat-icon
                style="cursor: pointer"
                *ngIf="this.passwordType == 'password'"
                class="greyIcon"
                matSuffix
                (click)="this.passwordType = 'text'"
              >
                visibility</mat-icon
              >
              <mat-icon
                style="cursor: pointer"
                *ngIf="this.passwordType == 'text'"
                class="greyIcon"
                matSuffix
                (click)="this.passwordType = 'password'"
              >
                visibility_off</mat-icon
              >
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" class="pb-3">
            <mat-error *ngIf="formPass.hasError('mismatch')">
              {{ 'Contraseña' }} <strong>{{ 'no coinciden' }}</strong>
            </mat-error>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button
      mat-flat-button
      (click)="onUpdateProfile()"
      [disabled]="this.form.invalid || (isChangePass && this.formPass.invalid)"
      color="primary"
    >
      {{ 'Guardar' }}
    </button>
  </div>
</div>
