@import '../../../../../../assets/scss/theme/variables';
@import '../../../../../../assets/scss/mixins/breakpoints';

app-reporte {
  .mat-progress-bar {
    display: block;
    height: 5.65px;
    transition: opacity 350ms linear;
    width: 100%;
  }

  .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
    background-color: #e0e0e0;
  }

  padding: 0px 0px;
  padding-left: 16px;
  padding-right: 16px;
  background: #fafafa !important;

  /////// Steeper Classes /////////////////////

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    align-items: flex-start;
    background-color: $theme-main !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: solid 1.7px rgba(0, 0, 0, 0.22);
  }

  .mat-step-header .mat-step-icon-selected,
  .mat-step-header .mat-step-icon-state-done,
  .mat-step-header .mat-step-icon-state-edit {
    background-color: $theme-accent;
    border: solid 1.2px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .mat-step-label {
    padding: 8px 0 0 0;
    text-align: center;
    width: 100%;
    color: #fff !important;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
    padding: 8px 0 0 0;
    text-align: center;
    width: 100%;
  }

  .mat-step-header {
    overflow: hidden !important;
    outline: 0 !important;
    cursor: pointer !important;
    box-sizing: border-box;
    height: auto !important;
    flex-direction: column !important;
    position: relative !important;
    box-sizing: content-box !important;
    -webkit-tap-highlight-color: transparent !important;
    background-color: $theme-main !important;
    color: #323232 !important;
    max-height: 64px;
  }

  //////////////////////////////////////////////////////

  .mat-horizontal-content-container {
    padding: 16px 16px 16px 16px;
    overflow: auto;
    max-height: 76vh;
    border: solid 1.3px rgba(0, 0, 0, 0.22);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    @media (max-width: 800px) {
      padding: 0 8px 8px 8px !important;
    }

    background: #fafafa;
  }

  .mat-form-field {
    margin-right: 10px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0.1em;
  }

  .SteeperBtn {
    margin-left: 8% !important;
    margin-top: 16px !important;
  }

  .SteeperLayout {
    margin-left: 8% !important;

    @include media-breakpoint('lt-sm') {
      margin-left: 0px !important;
    }
  }

  .iconHelp {
    font-size: 14px;
    color: $grey4;
    width: 14px;
    height: 14px;
  }

  .w-73 {
    width: 73% !important;
  }

  .example-chip-list {
    width: 100%;
  }

  .imageContent {
    height: 40px;
    max-height: 40px;
    max-width: 40px;
    width: 40px;

    .carAvatar {
      height: 100% !important;
      max-width: 100% !important;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
  }

  .example-full-width {
    width: 100%;
  }

  .example-option-img {
    vertical-align: middle;
  }

  .CustomMat {
    width: 73%;

    @include media-breakpoint('lt-md') {
      width: 100%;
    }

    @include media-breakpoint('xs') {
      width: 100% !important;
    }
  }

  .MsgFinal {
    border-radius: 8px;
    border: 2px solid #424242;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
  }
  .mat-card-header-text {
    margin: 0px !important;
  }
}

mat-card {
  display: block;
  background-color: #333941;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: none;
  overflow: hidden;
  color: #0a0a0a;

  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('../../../../../../assets/images/logos/havanatur-circular-logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
