<a mat-list-item fxLayoutAlign="start center" [ngStyle]="{'padding-left': (depth * 16) + 'px'}" (click)="onItemSelected(item)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}" class="menu-list-item">
  <div class="menu-icons" fxLayoutAlign="start center">
    <!-- <fa-icon *ngIf="item.iconName && !item.material" [icon]="item.iconName"></fa-icon> -->
    <mat-icon *ngIf="item.material && item.iconName">{{item.iconName}} </mat-icon>
  </div>
  <span class="mat-body-1 ml-3" style="font-size: 15px;">{{item.displayName}}</span>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon style="margin:0px !important;" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<mat-divider id="dividerNav" *ngIf="item.divider" class="my-2"></mat-divider>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
