<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{'Adicionar proyecto'}}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{'Editar proyecto'}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        <mat-form-field appearance="outline">
          <mat-label>{{'Nombre'}}</mat-label>
          <input type="text" matInput [formControl]="form.controls['name']" placeholder="{{'name'}}">
          <mat-error *ngIf="form.controls['name'].hasError('required')">
            {{'Nombre'}} <strong>{{'es requerido'}}</strong>
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>{{'git'}}</mat-label>
          <input type="text" matInput [formControl]="form.controls['git']" placeholder="{{'git'}}">
          <mat-icon class="greyIcon" matSuffix>link</mat-icon>
          <mat-error *ngIf="form.controls['git'].hasError('required')">
            {{'git'}} <strong>{{'es requerido'}}</strong>
          </mat-error>
        </mat-form-field>


        <!-- <mat-form-field appearance="outline">
          <mat-label>{{'type'}}</mat-label>
          <input type="text" matInput [formControl]="form.controls['type']" placeholder="{{'type'}}">
          <mat-icon class="greyIcon" matSuffix>mail</mat-icon>
          <mat-error *ngIf="form.controls['type'].hasError('required')">
            {{'type'}} <strong>{{'es requerido'}}</strong>
          </mat-error>
        </mat-form-field> -->


        <mat-form-field appearance="outline">
          <mat-label>{{'type'}}</mat-label>
          <mat-select [formControl]="form.controls['type']">
            <mat-option *ngFor="let item of types" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field appearance="outline">
          <mat-label>{{'Descripción'}}</mat-label>
          <textarea rows="3" matInput [formControl]="form.controls['description']" placeholder="{{'Description'}}"></textarea>
          <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
        </mat-form-field>



      </div>

    </form>

  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSaveAction()" [disabled]="this.form.invalid" color="primary">{{'Save'}}</button>

  </div>

</div>