@import "../../../../../assets/scss/theme/variables";
@import "src/assets/scss/mixins/breakpoints";



  @include media-breakpoint("lt-sm") {
    padding: 2px !important;
  }

  mat-toolbar-row {
    background-color: transparent !important;
  }

  mat-toolbar {
    background-color: transparent !important;
  }


  #iconTiza {
    position: absolute;
    top: 40%;
    left: 40%;
  }

  .product-card .icon {
    color: $theme-main;
    background-color: #fff;
    font-size: 25px;
    width: 65px;
    border: 1px dashed $theme-main;
    height: 65px;
    position: relative;
    border-radius: 3px;
    transition: 0.5s;
    margin-left: auto;
    position: absolute;
    margin-right: auto;
    top: 27%;
    left: 38%;
    border-radius: 50%;

    mat-icon {
      font-size: 40px !important;
      width: 40px !important;
      height: 40px !important;
    }
  }

  select {
    /* margin: 50px; */
    width: 180px;
    max-width: 220px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: none;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;

    cursor: pointer;
    background: url(/assets/images/dropdown.png) no-repeat 90%;
  }

  .product-card:hover .icon {
    background-color: $theme-main;
    color: #fafafa;
    border-color: #ffffff;
  }

  .product-card {
    width: 300px;
    position: relative;
    margin: 16px;
    transition: .5s;

    &:hover {
      transform: translateY(-10px);
    }

    &:hover::before {
      opacity: 1;
      width: 50%;
      height: 50%;
      transition: .5s;
    }


    @include media-breakpoint("lt-md") {
      width: 280px;
    }
  }

  .product-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    opacity: 0;
    border-left: 2px solid $theme-main;
    height: 50px;
    border-bottom: 2px solid $theme-main;
    transition: 0.5s;
  }

  .imageProduct {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: auto !important;

  }

  .module {
    width: 100%;
    margin: 0 0 1em 0;
    overflow: hidden;
  }

  .line-clamp {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    line-height: 1.6rem;
    height: 3.2rem;
  }

  #AddBtn {
    position: fixed;
    right: 32px;
    bottom: 32px;

    @include media-breakpoint("lt-md") {
      right: 16px;
      bottom: 16px;
    }

  }




