<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{'Adicionar empresa'}}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{'Editar empresa'}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">




        <div fxLayout="row" fxLayoutAlign="center center" class="ImageLayout">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
            <div *ngIf="loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center"
              style="background-size: cover; background-position : center center; flex: none;"
              [style.background-image]="this.utilsService.getSafeImage(imageBrand)">
              <button id="photoCameraBtn" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <div *ngIf="!loadImage" class="avatar-profile" fxFlex="row" fxLayoutAlign="center center">
              <mat-icon class="avatar-icon">backup</mat-icon>

              <button id="photoCameraBtn" style="position: absolute;" mat-icon-button (click)="openFileBrowser($event)">
                <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">
                  photo_camera
                </mat-icon>
              </button>
            </div>
            <mat-error *ngIf="showErrorImage">
              La imagen sobrepasa los <strong>500 Kb</strong>
            </mat-error>
            <input type="file" class="hide-style" id="filePicker" (change)="handleFileSelect($event)">
          </div>
        </div>


        <div class="mt-3" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
          <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Nombre'}}</mat-label>
            <input type="text" [formControl]="form.controls['name']" matInput placeholder="{{'Nombre'}}">
            <mat-icon class="greyIcon" matSuffix>unarchive</mat-icon>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              {{'Nombre'}} <strong>{{'is required'}}</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
            <mat-label>{{'Descripción'}}</mat-label>
            <textarea rows="2" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
              [formControl]="form.controls['description']" placeholder="{{'Descripción'}}"></textarea>
            <mat-icon class="greyIcon" matSuffix>edit</mat-icon>
            <mat-error *ngIf="form.controls['description'].hasError('required')">
              {{'Descripción'}} <strong>{{'is required'}}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-divider class="mb-2"></mat-divider>


      </div>

    </form>

  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid" color="primary">{{'GUARDAR'}}</button>
  </div>

</div>