@import "../.././../../../assets/scss/theme/variables";

.app-dialog-edit-services {

  mat-toolbar-row {
    background-color: transparent !important;
  }

  mat-toolbar {
    background-color: transparent !important;
  }

  .mat-dialog-container {
    padding: 0;
    // width: 85vw !important; ///parametro ajustable

    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }


    .toolbar-bottom {
      height: auto;
    }
  }

  .dialog-content-wrapper {
    max-height: 94vh;
    max-width: 95vw;
    width: 32vw;
    display: flex;
    flex-direction: column;
    width: 50vw !important;

    @media (min-width: 768px) and (max-width: 1980px) {
      width: 16cm !important;

    }

    @media (min-width: 320px) and (max-width: 768px) {
      width: 95vw !important;
    }

  }

  .cdk-overlay-pane {
    width: 100%;
    height: 100%;
  }

  @media(max-width: 1000px) {
    .cdk-overlay-pane {
      width: 100%;
      height: 100%;
    }
  }

  .mat-dialog-actions {
    padding: 16px 16px;
    display: flex !important;
    flex-wrap: wrap !important;
    margin-bottom: 0px !important;
  }

  .my-dialog-content {
    padding: 0px 16px !important;
    margin: 0px !important;
  }

  .mat-dialog-content {
    display: block;
    // margin: 0 -24px;
    // padding: 0 24px;
    max-height: 76vh;
    overflow: auto;
  }

  .PassSection {
    border-radius: 4px;
    border: 1.25px solid #eee;

    &:hover {
      border: 1.25px solid #323232;
      transition: border .5s ease;
    }
  }

  ////////////////////////////////////////////////



  .hide-style {
    display: none;
  }

  .avatar-profile {
    position: relative;
    height: 200px;
    min-width: 150px;
    width: 250px;
    border-radius: 4px;
    flex: none !important;
    background-color: #f5f5f5;
    color: #bdbdbd;
    border: 2px solid $theme-main !important;

    .avatar-icon {
      font-size: 100px;
      height: 100px;
      width: 100px;
    }

    #photoCameraBtn {
      opacity: 0;

      mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
      }
    }

    &:hover {
      #photoCameraBtn {
        opacity: 1.0;
        transition: opacity .5s ease;
      }
    }

    button {
      position: absolute;
    }
  }

  .layoutIcons {
    border-radius: 8px;
    padding: 8px 0px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
      transition: all .2s ease;
    }
  }

  .selectedIcon {
    border: 1.5px solid #e0e0e0;
    // background-color: #f5f5f5;
  }

  /////////////////////////////////////////////////
}
