<mat-card class="p-1 mat-elevation-z0" style="border-radius: 8px !important;">
  <mat-toolbar>
    <mat-toolbar-row *ngIf="!selection.selected.length && !showFilterUser">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <span class="mat-title cf-margin-0">Lista de Usuarios</span>
        <div fxHide.xs>
          <button mat-button (click)="showSearchForm()">
            <mat-icon>search</mat-icon>
            Filtrar
          </button>
          <button mat-button (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
            Refrescar
          </button>
          <button *ngIf="role !=='Collaborator'" mat-button (click)="onCreateUser()">
            <mat-icon>add</mat-icon>
            Adicionar
          </button>
        </div>

        <div fxHide fxShow.xs>
          <button mat-icon-button (click)="showSearchForm()">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button *ngIf="role !=='Collaborator'" mat-icon-button (click)="onCreateUser()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showFilterUser && !selection.selected.length">
      <form class="example-full-width" [formGroup]="searchForm">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
          <button mat-icon-button>
            <mat-icon matPrefix>search</mat-icon>
          </button>
          <input [formControl]="searchForm.controls['textCtrl']" placeholder="{{'Entre su texto de búsqueda'}}"
            class="example-full-width search-input" type="text" autofocus>
          <div>
            <button mat-icon-button (click)="hideSearchForm()">
              <mat-icon aria-label="Cerrar">close</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="selection.selected.length">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <span fxHide.xs class="mat-title">{{selection.selected.length + ' elemento seleccionado'}}</span>
        <div>
          <button *ngIf="selection.selected.length==1" mat-button (click)="onEditUser(selection.selected[0])">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            <span *ngIf="role !=='Collaborator'" class="mat-button">EDITAR</span>
          </button>
          <button mat-button (click)="onRemoveUser(selection.selected)">
            <mat-icon aria-label="Remove">remove</mat-icon>
            <span class="mat-button">BORRAR</span>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th style="width: 8%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div fxLayout="column" fxLayoutAlign="start start">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </div>

        </td>
      </ng-container>

      <!-- Position Column -->


      <!-- Name Column -->
      <ng-container matColumnDef="gitUser">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Git User'}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.gitUser}} </td>
      </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Email'}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>



      <ng-container matColumnDef="rol">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Rol'}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th style="width:5%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Status'}}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon matTooltip="{{'User is activated'}}" style="border-radius: 50%; color:#4caf50" *ngIf="element.status=='enabled'"
            class="green-600 s-16">
            check</mat-icon>
          <mat-icon matTooltip="{{'User is not activated'}}" style="border-radius: 50%;color:#e53935" *ngIf="element.status !=='enabled'"
            class="red-500 s-16">
            close</mat-icon>
        </td>

      </ng-container>
      <ng-container matColumnDef="description">
        <th style="width:15%;" mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="mat-body-2">{{'Description'}}</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th style="width:3%;overflow:hidden;" mat-header-cell *matHeaderCellDef mat-sort-header>
        </th>
        <td mat-cell *matCellDef="let element">
          <div id="actionsHover" fxLayout="row" fxLayoutAlign="end center">
            <button (click)="onEditUser(element)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onRemoveUser([element])" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="rowData" *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>

</mat-card>