<div class="dialog-content-wrapper">
  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{ 'Adicionar norma' }}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{ 'Editar norma' }}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'Nombre' }}</mat-label>
          <mat-icon class="greyIcon" matSuffix>account_box</mat-icon>
          <input
            type="text"
            maxlength="true"
            maxlength="15"
            matInput
            [formControl]="form.controls['nombre']"
            placeholder="{{ 'nombre' }}"
          />
          <mat-error *ngIf="form.controls['nombre'].hasError('required')">
            {{ 'Nombre' }} <strong>{{ 'es requerido' }}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('minlength')">
            {{ 'Nombre require un mínimo de' }} <strong>{{ '3 caracteres' }}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('maxlength')">
            {{ 'Nombre require un máximo de' }} <strong>{{ '15 caracteres' }}</strong>
          </mat-error>
          <mat-error *ngIf="form.controls['nombre'].hasError('pattern')">
            {{ 'La estructura del nombre es' }} <strong>{{ 'ISO 9001' }}</strong>
          </mat-error>
        </mat-form-field>
        <mat-slide-toggle color="primary" [formControl]="form.controls['status']"> {{ 'Estado' }}</mat-slide-toggle>
      </div>
    </form>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSaveAction()" [disabled]="this.form.invalid" color="primary">
      {{ 'Guardar' }}
    </button>
  </div>
</div>
