<div fxFlexFill fxLayout="column" fxLayoutAlign="center stretch" class="login-background">
  <div fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="login-card mat-elevation-z8">

      <div fxLayout="column" fxFlexAlign="center center" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="login-header">
          <mat-toolbar color="primary" id="toolbarHeader">
            <mat-progress-bar *ngIf="this.inLoading" id="progressBar" color="accent" [mode]="'indeterminate'" [value]="valueSpiner"
              [bufferValue]="bufferValue">
            </mat-progress-bar>
            <mat-toolbar-row>
            </mat-toolbar-row>

            <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
              <div class="mat-elevation-z4" id="ImgLayout">
              </div>
            </mat-toolbar-row>

            <mat-toolbar-row>

            </mat-toolbar-row>
          </mat-toolbar>

        </div>

        <form name="login" class="login-form">
          <div fxLayout="row" class="mt-3 mb-3" fxLayoutAlign="center center" fxLayoutGap="gappx">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
              <h1 class="h3">Autentíquese</h1>
            </div>
          </div>

          <div fxLayout="column" class="mt-2" fxLayoutAlign="center center">

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nombre de Usuario</mat-label>
              <input matInput placeholder="Nombre de Usuario" autocomplete="on" #username [disabled]="inLoading"
                [formControl]="loginForm.controls['username']" name="username">
              <mat-error *ngIf="this.loginForm.controls['username'].invalid">
                {{'El nombre de usuario es'}} <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input [type]="this.passwordType" matInput placeholder="Contraseña" #pass [disabled]="inLoading"
                [formControl]="loginForm.controls['password']" name="password">

              <mat-icon style="cursor: pointer;" *ngIf="this.passwordType == 'password'" mat-icon-button matSuffix
                (click)="this.passwordType = 'text'">visibility
              </mat-icon>

              <mat-icon style="cursor: pointer;" *ngIf="this.passwordType == 'text'" mat-icon-button matSuffix
                (click)="this.passwordType = 'password'">
                visibility_off</mat-icon>
              <mat-error *ngIf="this.loginForm.controls['password'].invalid">
                {{'La contraseña es'}} <strong>requerido</strong>
              </mat-error>

            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="loginForm.invalid || this.inLoading"
              (click)="login(loginForm.controls['username'].value, loginForm.controls['password'].value)"
              class="cf-margin-top-20 example-full-width">INICIAR SESIÓN
            </button>


            <!-- <mat-spinner diameter="60" color="primary" *ngIf="this.inLoading"></mat-spinner> -->


          </div>

        </form>
      </div>
    </mat-card>

  </div>
</div>